html {
  box-sizing: border-box;
  font-family: Overpass, sans-serif;
  font-style: normal;
  line-height: 1.5;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background-image: linear-gradient(#ff9500, #ff5e3a);
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover,
a:focus {
  color: rgba(255, 255, 255, .7);
}

h1, h2, h3 {
  color: #fff;
}
